@using Models
@using Services
@inject IWardrobeService wardrobeService;

@if (Clothes.Count == 0)
{
  <p>Your wardrobe is empty.</p>
}
else
{
  @foreach (var cloth in Clothes)
  {
    <div class="flex-row d-flex align-items-center gap-4">
      <img alt="" src=@cloth.ImagePath class="cloth-image img-thumbnail" />
      <div class="text-black">
        <p class="text-8">@cloth.Color @cloth.Brand @cloth.Name</p>
        <p>Size: @cloth.Size</p>
      </div>
    </div>
  }
}

@code {
  public List<Cloth> Clothes = [];

  protected override void OnInitialized()
  {
    Clothes = wardrobeService.GetClothes();
  }
}
