@using Wardrobe.BBualdo.Enums
@using Wardrobe.BBualdo.Models
@using Wardrobe.BBualdo.Services
@inject IWardrobeService wardrobeService

<EditForm Model="SelectedCloth" OnSubmit="UpdateCloth" FormName="EditCloth" class="form">
    <div class="form-fields">
        <div class="form-field">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="SelectedCloth!.Name"/>
        </div>
        <div class="form-field">
            <label for="category">Category</label>
            <InputSelect id="category" @bind-Value="SelectedCloth!.Category">
                @foreach (var category in Enum.GetValues<Categories>())
                {
                <option value="@category">@category</option>
                }
            </InputSelect>
        </div>
        <div class="form-field">
            <label for="size">Size</label>
            <InputSelect id="size" @bind-Value="SelectedCloth!.Size">
                @foreach (var size in Enum.GetValues<Sizes>())
                {
                <option value="@size">@size</option>
                }
            </InputSelect>
        </div>
        <div class="form-field">
            <label for="color">Color</label>
            <InputText id="color" @bind-Value="SelectedCloth!.Color"/>
        </div>
        <div class="form-field">
            <label for="brand">Brand</label>
            <InputText id="brand" @bind-Value="SelectedCloth!.Brand"/>
        </div>
        <div class="form-field">
            <label for="image">Image</label>
            <InputFile id="image" @bind-Value="SelectedCloth.ImagePath"/>
        </div>
    </div>
    <div class="action__buttons">
        <button @onclick="CloseDialog" class="btn btn-secondary">Cancel</button>
        <button class="btn btn-primary">Save</button>
    </div>
    
</EditForm>

@code {
    [Parameter] public Cloth? SelectedCloth { get; set; }
    [Parameter] public EventCallback CloseButtonClicked { get; set; }

    private void CloseDialog()
    {
        CloseButtonClicked.InvokeAsync();
    }
    
    private void UpdateCloth()
    {
        wardrobeService.UpdateCloth(SelectedCloth!);
        CloseDialog();
    }
}