@page "/"
@rendermode InteractiveServer

<PageTitle>Wardrobe Inventory</PageTitle>

<div class="container">
  <div class="container__header">
    <button @onclick="OpenDialog" class="btn btn-primary">Add Cloth</button>
  </div>
  <div class="wardrobe__container">
    <WardrobeList />
  </div>
</div>

<Dialog Title="Add Cloth" IsOpened="DisplayDialog" CloseButtonClicked="() => DisplayDialog = false">
  <DialogBody>
    <AddClothForm CloseButtonClicked="() => DisplayDialog = false" />
  </DialogBody>
</Dialog>

@code {
  private bool DisplayDialog;

  private void OpenDialog()
  {
    DisplayDialog = true;
  }
}