@page "/"
@using Wardrobe.BBualdo.Components;

<PageTitle>Wardrobe Inventory</PageTitle>

<div class="container bg-light p-5">
  <div class="d-flex flex-column gap-5">
    <WardrobeList />
  </div>
</div>