@page "/"
@using Wardrobe.BBualdo.Components;

<PageTitle>Wardrobe Inventory</PageTitle>

<div class="wardrobe__container bg-light rounded-3 w-75">
  <div class="container__header">
    <button class="btn-custom btn-primary-custom">Add Cloth</button>
  </div>
  <div class="d-flex flex-column gap-5 p-5">
    <WardrobeList />
  </div>
</div>