* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html, body {
  background: rgb(96,0,208);
  background: linear-gradient(340deg, rgba(96,0,208,1) 0%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
  height: 100%;
  padding: 20px;
}

.text-8 {
  font-size: 32px;
}
